body{
	font-family: 'Open Sans', sans-serif;
}
html{font-family: 10px;}
.main {
	position:relative;
	display:table;
	text-align: center;
	background: #000 url(../img/main_bg.jpg) center center no-repeat;
	color: #fff;
	height:100vh;
	width: 100%;
	}
.main-overlay{
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5); 
	}
.main h1{
	font-size: 3.8rem;
	font-weight: 300;
	text-transform: uppercase;
	margin:0;
	margin-bottom:1.3rem;
}
.main p{
	font-size: 1.8rem;
	font-weight: 300px;
}
.wrapper{
	display:table-cell;
	vertical-align:middle;
z-index: 1;
	}
.main-header{
	position:relative;
	z-index: 2;
}
.main-line{
	width: 35rem;
	height: 1px;
background-color: #fff;
margin: 0 auto;
	}
	.main-down{
	position:absolute;
	bottom:3rem;
	color: #fff;
	display: iline-block;
	z-index:3;
	left:50%;
	font-size: 2em;
	width:5rem;
	height:5rem;
	border-radius: 50%;
	border: 1px solid transparent; 
	line-height:5rem;
	left:50%;
	margin-left: -25px;
	transition: 0.7s}
	.main-down:hover{		
		color:#fff;
		border-color: #fff;
	}
	/*Fabric*/
	.portfolio{
	padding: 15rem 0px;
	text-align:center;
	}
	
	 .section-portfolio{
		 margin-bottom: 4rem;
		 text-transform: uppercase;
		 font-weight: 800;
		 font-size: 3.6rem;
		 text-align:center;
		 }
.portfolio img{
	width: 100%;
	max-width: 360px;
	box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
}


.portfolio a{
	display: block;
	margin: 2rem auto 5rem;
	width: 13rem;
	color: #333;
border-bottom: 1px solid transparent;
	}
.portfolio a:hover{
	text-decoration: none;
	border-bottom: 1px dotted #333;
}

.footer{
	background-color: #646464;
	color: #fff;
	text-align: center;
	padding: 3rem 0;
}
.footer strong{
	font-weight: 300;
	font-size: 2.4rem;
}
.social-links {
margin-top:1rem;	
}
.social-links a{
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	display:inline-block;
	color: #fff;
	border: solid 1px #fff;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
margin-left: 1rem;
margin-right: 1rem;
font-size: 2.2rem;
transition:0.7s;
	}
	.social-links a:hover{
		color: #646464;
		background-color: #fff;
	}
.offer-btn{
	display:block;
	width:80%;
	max-width:300px;
	margin: 1rem auto;
	border:1px solid #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	transition:0.7s;
	

}
.offer-btn:hover{
background-color:#fff;
color:#646464;
text-decoration: none;
}

a:visited, a:active, a:focus {outline:none;text-decoration: none;}
/* модалка */
.modal img{
	width: 100%;
}
.modal-title{
	font-weight: 800px;
	font-size: 2rem;
}
.modal_btn{
	display:inline-block;
	color: #333;
	border:1px solid #333;
	padding: 10px 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.modal_btn:hover{color: #333;
}
@media (min-width: 0px) and (max-width: 767px) {
html{
	font-size: 7px;
}
.footer strong{
	margin: 2rem 0 0.1rem;
	display: inline-block;
}
.social-links{
	font-size: 1.7rem;
}	
}

.close {
	background-color: transparent;
border:none;
font-size: 2.5rem;
position: absolute;	
right:1rem;
top:1rem;
}